{% extends 'default.html' %}
{%load staticfiles %}
{% block content %}
  <div class="row">
    <div class="col-xs-12 col-sm-12  col-md-12 col-lg-12">
      <div class="card">
        <div class="card-body login-card-body">
          <h3><b>Biz Kimiz?</b></h3>
          <p>Bu güne kadar sayısız yardım projesine öncülük etmiş Türkiye Cumhuriyeti toprakları dışında bir çok öncü gelen markanın sponsorluğuyla Mali, Etiyopya, Kenya, Gana, Nijerya gibi insani yardımın ulaşamadığı ülkelere el uzatmış bir çok su kuyusu, ilaç tedariği, sağlık alanında hizmet etmiş kimsenin bilmediği ama varlığını her zaman hissettirdiği bir sosyal yardımlaşma ekibiyiz. 
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12  col-md-12 col-lg-4">
      <div class="card">
        <div class="card-body login-card-body">
          <h3><b>Ne Yapıyoruz ?</b></h3>
          <p>Dünya’da 700 milyondan fazla insan su ihtiyacını karşılayamıyor, kirli su kullanımı yüzünden tifo,ishal ve kolera gibi hastalıklar günlük 1000 çocuğun ölmesine sebeb oluyor, yıllık 2 milyondan fazla kişi susuzluk, hastalık, kuraklık gibi nedenlerden 
            <a href="/hakkimizda/ne-yapiyoruz">devamını oku...</a></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12  col-md-12 col-lg-4">
        <div class="card">
          <div class="card-body login-card-body">
            <h3><b>Nemi Yapacağız ?</b></h3>
            <p>Merak etmeyin EKİPTESİNİZ artık. Ekipteki her çalışma arkadaşımız rahatlıkla kullanabilmesi ve ihtiyaç sahiplerine el uzatabilmesi için rahat ve kullanılabilir bir platform oluşturduk.Çünkü her ekip üyemizin boş vakti yardım bekleyen her bireyin en g
              <a href="/hakkimizda/nemi-yapacagiz">devamını oku...</a></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12  col-md-12 col-lg-4">
          <div class="card">
            <div class="card-body login-card-body">
              <h3><b>Buğdayların bedeli kim tarafından karşılanmaktadır ?</b></h3>
              <p>Her çalışma arkadaşımızın merak ettiği ve korktuğu o soru. Merak etmeyin hiç kimseden bir finans talebinde bulunmuyoruz ve birer ekip üyesi olarak adımıza topl
                <a href="/hakkimizda/bugdaylarin-bedeli-kim-tarafindan-karsilanmaktadir">devamını oku...</a></p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12  col-md-12 col-lg-4">
            <div class="card">
              <div class="card-body login-card-body">
                <h3><b>Peki finansörler ve tüzel kişiler neden buğday bedelini karşılıyor ?</b></h3>
                <p>Finansörler ve tüzel kişilerde aslında bazı gayeler sonucunda bu bedelleri karşılam
                  <a href="/hakkimizda/peki-finansorler-ve-tuzel-kisiler-neden-bugday-bedelini-karsiliyor">devamını oku...</a></p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12  col-md-12 col-lg-4">
              <div class="card">
                <div class="card-body login-card-body">
                  <h3><b>Soruları yanlış cevaplarsam ?</b></h3>
                  <p>Sakin olabilirsiniz her şey ekip üyelerimizin rahatlığı ve kolaylığı için yapıldı. Sorular karşınıza random olarak çıkmamaktadır.Yapay zeka tekniğiyle başta sizleri sorularla tanıyıp, sorarken öğretip, doğru cevap vermenizi sağlamaktadır.Yanlış cevap
                    <a href="/hakkimizda/sorulari-yanlis-cevaplarsam">devamını oku...</a></p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12  col-md-12 col-lg-4">
                <div class="card">
                  <div class="card-body login-card-body">
                    <h3><b>İnsani yardımda ülkemiz.</b></h3>
                    <p>Türk milleti Osmanlıdan günümüze gelen insani yardım faktörünü bırakmaksızın tarihinden kultüründen güçlü bir geleneğe sahip bir toplumdur. Bu nedenlerden dolayı güzel ülkemiz doğal afetler olsun toplumsal çatışmalar olsun
                      <a href="/hakkimizda/insani-yardimda-ulkemiz">devamını oku...</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12  col-md-12 col-lg-4">
                  <div class="card">
                    <div class="card-body login-card-body">
                      <h3><b>Doğu Afrika</b></h3>
                      <p>Son yıllarda Doğu Afrika’da yaşanan insani kriz çok kötü bir durum haline gelmektedir.Sağlık hizmeti gibi gıda hizmeti gibi bir çok alanda yaşanan zorluklar milyonlarca insanın canını tehdit emekle beraber hayatı yaşanmaz kılmaktadır.Özellikle küçük 
                        <a href="/hakkimizda/dogu-afrika">devamını oku...</a></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12  col-md-12 col-lg-4">
                    <div class="card">
                      <div class="card-body login-card-body">
                        <h3><b>Güney Asya?</b></h3>
                        <p>Bangladeş, Nijerya gibi ülkelere sahip olan güney asyanın muson yağmurlarından meydana gelen selin bir çok insanı zor duruma düşürmesıyle geçtiğimiz günlerde gündeme gelip bir çok enkazzede hayatını kaybetmiştir.Milyonlarca insanın evsiz kaldığı bu ü
                          <a href="/hakkimizda/guney-asya">devamını oku...</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endblock %}