{% extends 'default.html' %}
{%load staticfiles %}
{% block content %}
  <div class="row">
    <div class="col-xs-12 col-sm-12  col-md-12 col-lg-4 msac">
    </div>
    <div class="col-xs-12 col-sm-12  col-md-12 col-lg-4">
      {%if ok == 0%}
      <div class="alert alert-danger alert-dismissible" >
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h5><i class="icon fas fa-ban"></i> Hata!</h5>
        {{hata}}
      </div>
      {%endif%}
     
      {%if ok == 1%}
      <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h5><i class="icon fas fa-check"></i> Teşekkürler!</h5>
        Üyeliğiniz başarı ile gerçekleştirilmiştir. Ekibimize hoşgeldiniz. Lütfen giriş sayfasından giriş yapınız.
      </div>
      {%endif%}
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Giriş yaparak geçmişi takip edebilirsiniz.</p>
          <form action="/uye-ol-form" method="post"> {% csrf_token %}
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Kullanıcı Adı" required="" name="kadi">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user-lock"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="E-mail" required="" name="mail">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            
            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Şifre" required="" name="sifre1">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Şifre" required="" name="sifre2">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Gsm - Zorunlu değildir. " name="gsm">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-phone-alt"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block">Üye ol</button>
              </div>
              <!-- /.col -->
            </div>
          </form>
          <div class="social-auth-links text-center mb-3">
            <p>- VEYA -</p>
            <a href="/giris" class="btn btn-block btn-danger">
              <i class="far fa-smile"></i> Giriş Yap
            </a>
          </div>
          <!-- /.social-auth-links -->
          <p class="mb-1">
            <a href="forgot-password.html">Üyelik Sözleşmesi</a>
          </p>
        </div>
        <!-- /.login-card-body -->
      </div>
      
    </div>
    <div class="col-xs-12 col-sm-12  col-md-12 col-lg-4">
      
    </div>
  </div>
</div>
{% endblock %}